.footer-container {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    bottom: 0;
    left: 0;
    height: 58px;
    width: 100%;
    background-color: rgba(30, 30, 30);
    font-size: 18px;
    z-index: 5;
}

.footer-container-items {
    margin-top: 10px;
    margin-right: 20px;
}

.footer-container > p {
    margin-top: 10px;
    color: lightslategray;
}