#featured-areas-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#featured-areas-header {
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.17);
}

.search-links-container {
    position: relative;
    width: 99%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#featured-areas-container a {
    text-align: center;
    display: inline-block;
    min-height: 200px;
    min-width: 33.33%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.area-header {
    position: relative;
    top: 70px;
    font-weight: bold;
    font-size: 30px;
}

.new-york-search {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(asset-path("us-new-york-city.jpg"));
}

.chicago-search {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(asset-path("us-chicago.jpg"));
}

.los-angeles-search {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(asset-path("us-los-angeles.jpg"));
}

.san-francisco-search {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(asset-path("us-san-francisco.jpg"));
}

.miami-search {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(asset-path("us-miami.jpg"));
}

.las-vegas-search {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(asset-path("us-las-vegas.jpg"));
}