.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 36px;
    height: 54px;
    box-sizing: border-box;
}

.greeting-box {
    display: inherit;
}

.session-nav {
    display: flex;
    justify-content: space-around;
    width: 160px;
}

.header-link {
    width: 170px;
    padding-left: 0px;
    margin: -8px 5px 0px -15px;
    padding-bottom: 10px;
    padding-right: 5px;
    -webkit-font-smoothing: antialiased;
}

#header-img {
    position: absolute;
    top: -6px;
    width: 85px;
    height: 65px;
    overflow: hidden;
}

#app-name {
    position: absolute;
    top: 15px;
    left: 95px;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

#signup-button {
    text-align: center;
    background-color: #237b98;
    border-color: #1c627a;
    color: white;
    width: 80px;
    line-height: 26px;
    cursor: pointer;
    border-radius: 3px;
    margin: 10px 0px;
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
}

#login-button {
    background-color: inherit;
    color: black;
    border: none;
    cursor: pointer;
    width: 70px;
    line-height: 26px;
    cursor: pointer;
    border-radius: 3px;
    margin: 0px 0px 0px 8px;
    font-family: inherit;
    font-size: 18px;
}

.greeting-section {
    display: flex;
    cursor: pointer;
    justify-content: center;
    width: auto;
    margin: 0px -16px 0px 0px;
}

.greeting-name {
    -webkit-font-smoothing: antialiased;
    font-weight: 200;
    width: 85px;
    font-family: inherit;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 18px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

#dropdown {
    color: black;
    margin-top: 18px;
}

#pointer {
    position: absolute;
    right: 25px;
    top: 42px;
    height: 15px;
    width: 15px;
    background-color: none;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
    z-index: 10;
    border-radius: 0px;
}

.navmenu-container {
    top: 50px;
    right: 12px;
    position: absolute;
    width: 232px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: white;
    overflow: hidden;
    z-index: 9;
}

.navmenu-item {
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 20px;
    width: 200px;
    height: 18px;
    color: rgba(0, 0, 0, 0.6);
    padding: 12.8px 16px;
}

.navmenu-item:hover {
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.75);
    background-color: rgba(128, 128, 128, 0.08);
}