.profile-container {
    width: 100%;
}

.user-header {
    font-size: 45px;
    border-top: 1px solid rgba(0, 0, 0, .17);
    border-bottom: 1px solid rgba(0, 0, 0, .17);
    padding-top: 22px;
    padding-bottom: 22px;
}

.user-header h1 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.profile-content-container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.profile-navigation {
    width: 25%;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin: 30px 0px;
}

.profile-nav-res1 {
    color: black;
    margin-bottom: 20px;
}

.profile-nav-fav1 {
    color: rgba(0, 0, 0, .3);
}

.profile-nav-res2 {
    color: rgba(0, 0, 0, .3);
    margin-bottom: 20px;
}

.profile-nav-fav2 {
    color: black;
}

.profile-nav-fav1:hover {
    color: #DA3743;
}

.profile-index-container {
    width: 90%;
    margin: 30px 20px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

.profile-index-item {
    display: flex;
    padding: 30px 0px;
}

.profile-index-container h1 {
    font-size: 32px;
    padding: 20px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
}

.profile-index-photo {
    margin: 0px 30px;
    width: 100px;
    border-radius: 10px;
}

.profile-details {
    width: 63%;
}

.profile-details p {
    font-size: 18px;
    margin: 4px 0px;
    color: rgba(0, 0, 0, .6);
}

#profile-company-name {
    font-size: 25px;
    color: black;
}

.modify-link {
    display: inline-block;
    padding: 10px 0px;
    color: teal;
}

.unsave-button {
    display: flex;
    justify-content: center;
    height: 30px;
    border: none;
    padding: 0px;
    margin-bottom: 3px;
}

.unsave-button p {
    padding: 0px 5px;
    font-size: 14px;
}

#saved-icon {
    color: #DA3743;
    font-size: 14px;
    padding: 6px 0px;
}

.favorites-stars-outer {
  display: inline-block;
  position: relative;
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
}
 
.favorites-stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: rgba(0, 0, 0, 0.15);
}
 
.favorites-stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  font-weight: 700;
}
 
.favorites-stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #FEAA6D;
}

.link-to-show {
    text-align: center;
    background-color: #DA3743;
    position: relative;
    top: 25px;
    height: 32px;
    width: 130px;
    padding-top: 16px;
    border-radius: 5px;
    margin-right: 25px;
}