.cover-photo {
    background-image: linear-gradient(rgba(65, 65, 95, 0.6),rgba(65, 65, 95, 0.6) ), url(asset-path("cover.jpg"));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    color: rgba(0, 0, 0, 0);
}

.show-details-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -50px;
    max-width: 1000px;
    z-index: 4;
}

.overview-details {
    display: flex;
    justify-content: space-between;
    background-color: none;
}

.restaurant-overview {
    width: 66%;
    background-color: white;
    padding: 10px 10px;
    margin-right: 15px;
}

.restaurant-name {
    padding: 30px 10px;
    font-size: 50px;
    font-weight: bold;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5)
}

.restaurant-overview-list {
    display: flex;
    padding: 15px 0px 10px 10px;
}

.restaurant-overview-list li {
    font-size: 18px;
    padding-right: 15px;
    font-weight: bold;
}

.restaurant-descr {
    padding: 10px 10px 20px;
    font-size: 24px;
}

.restaurant-details {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 15px;
    background-color: white;
    font-size: 18px;
}

.restaurant-details-list {
    padding: 10px;
    margin: 10px 0px;
}

.restaurant-details-list h3 {
    font-weight: bold;
}

.restaurant-details-list li {
    display: flex;
}

.restaurant-detail-item {
    padding-left: 8px;
}

.reviews-container {
    position: relative;
}

.review-index-item {
    padding: 10px 20px;
    margin: 10px 0px;
    display: flex;
    font-size: 20px;
}

.author-container {
    text-align: center;
    width: 96px;
}

.background-circle {
    margin-left: auto;
    margin-right: auto;
    color: red;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #DA3743;
}

#letter-bubble {
    color: white;
    height: auto;
    width: inherit;
    border-radius: inherit;
    padding-top: 18px;
    font-size: 24px;
}

.firstname {
    margin: 10px 0px;
}

.ratings-body-container {
    width: 500px;
    margin: 0px 20px;
}

.review-stars-outer {
  display: inline-block;
  position: relative;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
 
.review-stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: rgba(0, 0, 0, 0.15);
}
 
.review-stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  font-weight: 900;
}
 
.review-stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #DA3743;
}

.ratings-show {
    display: flex;
    margin: 15px 0px;
}

.ratings-show p {
    padding-right: 10px;
    font-weight: bold;
}

#ratings-number {
    color: #DA3743;
}

.restaurant-stars-outer {
  display: inline-block;
  position: relative;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
 
.restaurant-stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: rgba(0, 0, 0, 0.15);
}
 
.restaurant-stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  font-weight: 900;
}
 
.restaurant-stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #DA3743;
}

.ratings-summary {
    font-size: 20px;
    padding: 30px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.title-header {
    font-weight: bold;
    padding: 5px 0px;
}

#restaurant-overall {
    padding: 7px 10px;
}

.ratings-summary div {
    display: flex;
    padding: 5px 0px;
}

.ratings-summary ul {
    display: flex;
    padding: 5px 0px;
}

.ratings-summary li {
    text-align: center;
    padding: 0px 10px;
    border-right: 0.5px solid rgba(0, 0, 0, 0.5);
}

#last-rating {
    border-right: none;
}

#rating-number {
    font-weight: bold;
}

.review-button-container {
    text-align: right;
}

.review-button {
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: 20px;
    color: #DA3743;
    padding: 5px;
    margin: 5px 0px;
}

.review-button:hover {
    background-color: rgba(225, 0, 0, 0.1);
}

.favorite-button {
    display: flex;
    justify-content: center;
    width: 260px;
    height: 50px;
    border-radius: 4px;
    position: absolute;
    top: 80px;
    right: 30px;
}

.favorite-button p {
    padding: 8px 10px;
    font-size: 18px;
    font-family: Jaldi, sans-serif;
}

.fa-bookmark {
    padding: 15px 0px;
    font-size: 18px;
}

.unfavorite-button {
    display: flex;
    justify-content: center;
    width: 260px;
    height: 50px;
    border-radius: 4px;
    position: absolute;
    top: 80px;
    right: 30px;
}

.unfavorite-button p {
    padding: 8px 10px;
    font-size: 18px;
    font-family: Jaldi, sans-serif;
}

#saved-bookmark {
    color: #DA3743;
    padding: 15px 0px;
    font-size: 18px;
}