.num-tables {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}

.restaurant-index-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.restaurants {
    box-sizing: border-box;
}

.restaurant-index-photo {
    /* float: left; */
    border-radius: 4px;
}

.listing-details {
    /* float: left; */
    width: 70%;
    margin: 5px 0px 0px 15px;
}

.rating-dollars {
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
}

.restaurant-name-link {
    -webkit-font-smoothing: antialiased;
    color: #247f9e;
    font-size: 22px;
    font-weight: bold;
}

.restaurant-index-item {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 700px;
    margin: 20px 0px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.40);
    box-sizing: border-box;
}

.restaurant-brief-details li {
    margin-top: 3px;
}



.booked-times {
    font-weight: bold;
    padding-top: 5px;
}