.num-tables {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}

.restaurant-index-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)), url(asset-path("index_background.jpg"));
    background-position: center;
}

.restaurants {
    box-sizing: border-box;
    padding: 15px 35px;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.restaurant-index-photo {
    border-radius: 8px;
}

.listing-details {
    width: 70%;
    margin: 5px 0px 0px 15px;
}

.rating-dollars {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding-top: 2px;
}

.cuisine {
    font-size: 19px;
}

.restaurant-name-link {
    -webkit-font-smoothing: antialiased;
    color: #247f9e;
    font-size: 28px;
    font-weight: bold;
}

.restaurant-index-item {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 700px;
    margin: 20px 0px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
}

.restaurant-brief-details li {
    margin-top: 3px;
}

.booked-times {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0px;
}

.timeslots-container {
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 10px 0px;
}

.timeslot {
    height: 25px;
    min-width: 90px;
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    padding-top: 6px;
    background-color: #DA3743;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.timeslot:hover {
    background-color: rgb(196, 13, 13);
}