.cover-photo {
    background-image: linear-gradient(rgba(65, 65, 95, 0.6),rgba(65, 65, 95, 0.6) ), url(asset-path("cover.jpg"));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    color: rgba(0, 0, 0, 0);
}

.restaurant-container {
    position: absolute;
    left: 50%;
    margin-left: -450px;
    top: 300px;
    width: 900px;
    display: flex;
    justify-content: space-around;
    z-index: 4;
}

.restaurant-overview {
    width: 70%;
    background-color: white;
    padding: 10px 0px 10px 20px;
}

.restaurant-name {
    padding: 30px 10px;
    font-size: 40px;
    font-weight: bold;
}

.restaurant-overview-list {
    display: flex;
    padding: 10px 0px 10px 10px;
}

.restaurant-overview-list li {
    font-size: 16px;
    padding-right: 10px;
    font-weight: bold;
}

.restaurant-descr {
    padding: 10px 0px 20px 10px;
    font-size: 22px;
}

.restaurant-details {
    width: 20%;
    padding: 30px 0px 0px 30px;
    background-color: white;
}

.restaurant-details-list h3 {
    font-weight: bold;
}