.splash-search-container {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(rgba(65, 65, 95, 0.6),rgba(65, 65, 95, 0.6) ), url(asset-path("cover-photo-search.jpg"));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.others-searchbar-container {
    width: 100%;
    height: 65px;
    background-image: linear-gradient(rgba(65, 65, 95, 0.6),rgba(65, 65, 95, 0.6) ), url(asset-path("cover-photo-search.jpg"));
    background-position: right 25% top 30%;
}

.banner-with-search-container {
    position: relative;
    top: 35%;
    text-align: center;
}

.banner {
    font-size: 55px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.search-container {
    position: relative;
    top: 10px;
    background-color: none;
    display: flex;
    justify-content: center;
}

.searchbar {
    width: 280px;
    background-color: white;
    border-radius: 5px;
}

.searchbar-input {
    border: none;
    padding: 6px 12px;
    width: 220px;
    font-family: inherit;
    font-size: 18px;
}

.search-submit {
    width: 130px;
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    background-color: #da3743;
    border-color: #b8222d;
    margin-left: 24px;
}

#icon {
    margin-left: 11px;
}

.reservation-options {
    border-radius: 5px;
    background-color: white;
    border: none;
    font-family: inherit;
    font-size: 18px;
    display: flex;
    margin-right: 24px;
}

.reservation-date {
    height: 100%;
    overflow: hidden;
}

#date {
    padding-left: 11px;
}

#datepicker {
    font-family: inherit;
    height: 100%;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0px 0px 0px 10px;
    border-right: 0.5px solid rgba(0, 0, 0, 0.17);
    width: 140px;
}

.reservation-time {
    width: 170px;
}

#time-selector {
    font-family: inherit;
    color: black;
    border: none;
    background-color: white;
    height: 100%;
    width: 140px;
}

#ticker {
    padding-left: 11px;
}

.reservation-party {
    width: 170px;
}

#party-selector {
    font-family: inherit;
    color: black;
    border: none;
    background-color: white;
    height: 100%;
    width: 140px;
}

#user-icon {
    padding-left: 10px;
}

.border-space {
    color: white;
    height: 100%;
    border-left: 0.5px solid rgba(0, 0, 0, 0.17);
}